/* styles.css */
.chef-block,
.json-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    margin-left: -20px;
    /* 調整左邊邊距 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 垂直對齊方式設置為起點對齊 */
    justify-content: center;
    text-align: center;
    width: 98%;
    /* 調整左右兩邊寬度百分比 */
    box-sizing: border-box;
    margin-bottom: 10px;
}

.chef-block .block-separator {
    margin: 0.8px 0;
    /* 調整內容元素的上下間距，值根據需求調整 */
    border: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* 圖片樣式 */
#mainImage {
    width: 100%;
    max-width: 100%;
    height: 400px;
    opacity: 0.8;
    /* 這裡的值可以調整，1 是完全不透明，0 是完全透明 */
}



/* 圓角長方形樣式 */
.rounded-rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    /* 寬度 */
    height: 60px;
    /* 高度 */
    background-color: rgba(255, 255, 255, 0.8);
    /* 這裡使用 rgba() 設定底色，可以調整透明度 */
    border-radius: 15px;
    /* 圓角半徑 */
    z-index: 1;
    /* 確保圓角長方形在其他元素上方 */
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #1a73e8;
    text-align: center;
}

.content {
    font-size: 16px;
    color: #000000;
}

.like-info {
    display: flex;
    justify-content: space-between;
}

.left-block .chef-block,
.left-block .json-container {
    max-width: 100%;
    /* 最大寬度 100% */
    margin: 0 auto;
    /* 自動居中 */
}


.tag {
    flex: 1;
    margin: 0 10px;
    border: 2px solid #777441;
    border-radius: 8px;
    padding: 10px;
}

.tag .title {
    font-size: 18px;
    font-weight: bold;
    color: #1a73e8;
    align-items: center;
}

.tag .content {
    font-size: 18px;
    font-weight: bold;
    color: #fd0000;
    text-align: center;
    /* 將文字內容置中 */
}

#searchForm {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* 水平排列 */
    margin-bottom: 20px;
    /* 增加底邊距，使查詢結果顯示時不會與查詢框貼緊 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* 確保查詢表單在其他元素上方 */
}

#categorySelect,
#queryInput,
button {
    margin: 10px;
    /* 調整邊距 */
}

.block-separator {
    width: 100%;
    /* 設置線的寬度為區塊的寬度 */
    border-top: 1px solid #ddd;
    /* 適應你的風格設計 */
    margin-top: 10px;
    /* 設置上方間距，根據需求調整 */
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
    margin: 20px auto;
    /* 上下置中 */
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* 置中 */
    max-width: 900px;
    margin: 20px auto;
    /* 上下置中 */

}

.left-block,
.right-block {
    width: 48%;
    /* 區塊寬度 */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 1%;
    /*區塊之間的間距*/
    /* border: 1px solid #ddd; 加上區塊邊框 */
    padding: 10px;
    /* 添加內部間距 */
    border-top: 11px solid #ffeb3b;
    /* 在上緣添加邊框 */
    border-bottom: 1px solid #ffeb3b;
    /* 在下緣添加邊框 */
}

#resultArea {
    width: 48%;
    box-sizing: border-box;
}

.block-separator {
    width: 100%;
    border-top: 3px solid #ddd;
    /* 將顏色改為黃色 (#ffeb3b) */
    margin: 20px 0;
    /* 調整上下空白 */
}

body {
    background-color: #dde8f1;
    /* 淺藍色 */
}